:root {
  --background: #fafdff;
  --foreground: #181b1c;
  --blue-1: #07557C;
  --blue-2: #18709B;
  --blue-3: #42A5D7;
  --blue-4: #93D5F5;
  --blue-5: #C3E7F9;
  --blue-6: #EBF5FA;
  --neutral-1: #181B1C;
  --neutral-2: #3E4244;
  --neutral-3: #74797B;
  --neutral-4: #D8DCDE;
  --neutral-5: #F8FBFC;
  --neutral-6: #FAFDFF;
  --geist: 'Geist', sans-serif;
  --inter: 'Inter', sans-serif;
}

.dark {
  --background: #3e4244;
  --foreground: #fafdff;
  --blue-1: #0D72A5;
  --blue-2: #1B94D1;
  --blue-3: #2896CD;
  --blue-4: #40B1E9;
  --blue-5: #82CFF6;
  --blue-6: #C4EBFF;
  --neutral-1: #EBEBEB;
  --neutral-2: #D7D7D7;
  --neutral-3: #B3B5B6;
  --neutral-4: #6B6F71;
  --neutral-5: #3E4244;
  --neutral-6: #181B1C;
  --geist: 'Geist', sans-serif;
  --inter: 'Inter', sans-serif;
}
